@import url('https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

:root {
  --theme: #CD3C2A;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.logo-typography {
  font-family: 'Permanent Marker', cursive;
  text-shadow: 0 0 5px rgba(0,0,0,.75);
}

.bg-kuru {
  background-color: var(--theme);
}